.App {
  text-align: center;
  font-size: calc(10px + 1vh);
  
}

.grid-center {
  display: grid;
  place-items: center;
  margin: 28vh auto;
}

.center-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form {
  position: relative;  
  width: 30vw;
  height: 45vh;
  border-radius: 15px;
  border-style: outset;
  background-color: black;
  color: white;
}

.input {
  width: 22vw;
  height: 5.5vh;
  border: 1.5px solid white;
  border-radius: 7px;
  
  font-size: 15px;
  background-color: black;
  color: white;
}

.input:user-valid {
  border: 1.5px solid greenyellow;
}

.label {
  align-self: baseline;
  padding: 5px;
  margin: 0px 4vw; 
}

#LOGIN-BTN {
  align-self: flex-end;
  margin: 10px 20px;
  color: white;
  /* font-size: calc(10px + 1vh); */
}

#LOGIN-BTN:hover {
  outline: 1px solid white;
  background-color: white;
  color: black;
}